<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Booking Cancelled</title>

    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/bookingDetails.css' %}">

</head>
<style>
    .closeButtonWrapper
    {
        margin-top: 100px;
        text-align: right;
    }

    .closeButton
    {
        width: 150px;
        padding: 5px;
        font-size: 14px;
    }
</style>
<body>
    <h1>Booking Cancelled</h1>
    <table class="details" id="details"></table>
    <div class="closeButtonWrapper" id="closeButtonWrapper"></div>

    <script type="application/javascript" src="{% static 'js/vendor/jquery-3.2.1.min.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/bookingDetails/bookingDetails.js' %}"></script>
</body>
</html>