<!doctype html>
{% load staticfiles %}
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <title>Tutoria</title>

        <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    </head>
    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
        <img style="margin: auto; text-align: center;" src="{% static 'img/logo.png' %}">
        <br>
        <div id="email1" style="margin: auto; text-align: center;">
        	Please eneter your email: <input type="email" name="email" id="email" size=50><button id="submit" onclick="onEmailSend()">Submit</button>
        </div>
        <br>
        <div id="token1" style="margin: auto; text-align: center; display: none;">
        	Please eneter the token sent to your email: <input type="text" name="token" id="token" size=50>
        	<br>
        	<button id="confirm" onclick="onTokenSend()">Confirm</button>
        </div>
        <div id="password" style="margin: auto; text-align: center; display: none;">
        	Please enter your new password: <input type="password" name="password1" id="password1">
        	<br>
        	Re-enter your new password: <input type="password" name="password2" id="password2">
        	<br>
        	<button id="confirm" onclick="onPasswordReset()">Confirm</button>
        </div>
        <script type="application/javascript" src="{% static 'js/vendor/jquery-3.2.1.min.js' %}"></script>
        <script type="application/javascript" src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
        <script type="application/javascript">
        	function onEmailSend()
        	{
        		var URL="requestResetToken";
        		var data={"email": document.getElementById("email").value};
        		$.post(URL, JSON.stringify(data), function(response)
			    {
			        if(response.errno==0)
			        {
			        	document.getElementById("token1").style.display="block";
			        	console.log(response.data.token);
			        }
			        else
			        {
			        	alert(response.errno + ": " + response.msg);
			        }	
			    });	
        	}

			function onTokenSend()
			{
				var URL="verifyToken";
				var data={"token": document.getElementById("token").value};
        		$.post(URL, JSON.stringify(data), function(response)
			    {
			        if(response.errno==0)
			        {
			        	document.getElementById("token1").style.display="none";
			        	document.getElementById("email1").style.display="none";
			        	document.getElementById("password").style.display="block";
			        }
			        else
			        {
			        	alert(response.errno + ": " + response.msg);
			        }	
			    });
			}      

			function onPasswordReset()
			{
				var URL="resetPassword";
				var data={"token": document.getElementById("token").value, "password1": document.getElementById("password1").value, 
				"password2": document.getElementById("password2").value};
        		$.post(URL, JSON.stringify(data), function(response)
			    {
			        if(response.errno==0)
			        {
			        	window.location.href="/";
			        }
			        else
			        {
			        	alert(response.errno + ": " + response.msg);
			        }	
			    });
			}  	
        </script>
    </body>
</html>
