#searchResult li
{
    border: 1px solid gray;
    border-radius: 25px;
    padding: 10px;
    margin: 20px;
    background-color: snow;
}

.fa-star
{
    color: lightgrey;
}

.fa-star.checked
{
    color: dodgerblue;
}